[Unit]
Description=Calf Sidechain Compressor
After=pulseaudio.service jack.service
BindsTo=pulseaudio.service

[Service]
ExecStart=/usr/bin/calfjackhost --client compressor --load %h/dotfiles/sound/compressor.xml
ExecStartPost=/usr/bin/sleep 1
ExecStartPost=%h/dotfiles/sound/compressor-connect
Restart=always
RestartSec=1s
StartLimitBurst=3
StartLimitIntervalSec=15s

[Install]
WantedBy=pulseaudio.service
