[Unit]
Description=Calf Sidechain Compressor
After=jackd.service
BindsTo=jackd.service
StartLimitBurst=3
StartLimitIntervalSec=15s

[Service]
ExecStart=/usr/bin/calfjackhost --client compressor --load %h/dotfiles/sound/compressor.xml --no-gui
ExecStartPost=/usr/bin/sleep 6
ExecStartPost=%h/dotfiles/sound/compressor-connect
Restart=always
RestartSec=0.5s

[Install]
WantedBy=default.target
