[Unit]
Description=JACK audio server daemon
After=pulseaudio.service

[Service]
ExecStart=/usr/bin/jackd -d dummy -p 512
ExecStartPost=/usr/bin/sleep 0.5
ExecStartPost=/usr/bin/bash -c "pacmd <%h/dotfiles/sound/jack-connect.pa"
ExecStop=/usr/bin/bash -c "pacmd <%h/dotfiles/sound/jack-disconnect.pa"
ExecStop=/usr/bin/kill -s TERM ${MAINPID}
ExecStop=-/usr/bin/tail -f --pid=${MAINPID} /dev/null

[Install]
WantedBy=default.target
