[Unit]
Description=JACK audio server
Before=pulseaudio.service
BindsTo=pulseaudio.service

[Service]
ExecStart=/usr/bin/jack_control start
ExecStart=/usr/bin/sleep 2
ExecStop=/usr/bin/jack_control stop
ExecStop=/usr/bin/sleep 1
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=default.target
