[Unit]
After=pipewire.service pipewire-pulse.service
BindsTo=pipewire.service
Wants=connect-sound.service
Before=connect-sound.service

[Service]
Type=simple
Slice=session.slice
EnvironmentFile=%h/dotfiles/sound/jalv-presets/%i
ExecStart=%h/dotfiles/sound/jalv-wrapper %i ${PLUGIN} ${CONTROLS}
ExecStartPost=/bin/sh -c "until jack_lsp | grep -q '^%i'; do sleep 0.1; done"
Restart=always

[Install]
WantedBy=pipewire.service
