cursor-style-blink = false
# custom-shader = /home/colin/dotfiles/ghostty/glow.glsl
focus-follows-mouse = true
scrollback-limit = 100_000_000
shell-integration-features = no-cursor
theme = light:kalgykai-light,dark:kalgykai-dark
window-padding-balance = true
window-padding-x = 4
window-padding-y = 4

font-size = {{ terminal_font_size }}
font-synthetic-style = false
{% if terminal_font == "Iosevka Term" %}
font-family = "Iosevka Term"
font-feature = -calt
font-feature = -dlig
{% elif terminal_font == "Berkeley Mono" %}
font-family = "Berkeley Mono Variable"
adjust-cursor-thickness = 1
adjust-underline-thickness = -1
{% endif %}
