cursor-style-blink = false
custom-shader = /home/colin/dotfiles/ghostty/cursor-tail.glsl
scrollback-limit = 100_000_000
shell-integration-features = no-cursor
theme = light:kalgykai-light,dark:kalgykai-dark
window-padding-balance = true
window-padding-x = 4
window-padding-y = 4

keybind = alt+h=goto_split:left
keybind = alt+j=goto_split:down
keybind = alt+k=goto_split:up
keybind = alt+l=goto_split:right
keybind = shift+enter=text:\n

font-size = {{ terminal_font_size }}
font-synthetic-style = false
{% if terminal_font == "Iosevka Term" %}
font-family = "Iosevka Term"
font-feature = -calt
font-feature = -dlig
{% elif terminal_font == "Berkeley Mono" %}
font-family = "Berkeley Mono Variable"
# font-style is set in themes
font-style-bold = "ExtraBold Condensed"
font-family-italic = "Monaspace Radon Var"
font-style-italic = "Light"
font-family-bold-italic = "Monaspace Radon Var"
font-style-bold-italic = "Bold"
adjust-cursor-thickness = 1
adjust-underline-thickness = -1
adjust-cell-width = -2
{% else %}
font-family = "{{ terminal_font }}"
{% endif %}
