cursor-style-blink = false
font-size = {{ terminal_font_size }}
theme = light:kalgykai-light,dark:kalgykai-dark
window-padding-balance = false
window-padding-x = 4
window-padding-y = 4

{% if terminal_font == "Iosevka Term" %}
font-feature = -calt
font-feature = -dlig
{% elif terminal_font.startswith("Berkeley Mono") %}
adjust-underline-thickness = -1
font-feature = ss02
{% endif %}
