{% if terminal_font == "Iosevka Term" %}
font-style = "Regular"
font-style-bold = "Bold"
{% elif terminal_font == "Berkeley Mono" %}
font-style = "Book Condensed"
{% endif %}
foreground = #{{ dark_normal }}
background = #{{ dark_bg }}
palette = 0=#{{ dark_faint }}
palette = 1=#{{ dark_red }}
palette = 2=#{{ dark_green }}
palette = 3=#{{ dark_yellow }}
palette = 4=#{{ dark_blue }}
palette = 5=#{{ dark_magenta }}
palette = 6=#{{ dark_cyan }}
palette = 7=#{{ dark_bright }}
palette = 8=#{{ dark_subtle }}
palette = 9=#{{ dark_red_bright }}
palette = 10=#{{ dark_green_bright }}
palette = 11=#{{ dark_yellow_bright }}
palette = 12=#{{ dark_blue_bright }}
palette = 13=#{{ dark_magenta_bright }}
palette = 14=#{{ dark_cyan_bright }}
palette = 15=#ffffff
unfocused-split-fill = #{{ dark_bg }}
unfocused-split-opacity = 0.8
