{% if terminal_font == "Iosevka Term" %}
font-style = "Medium"
font-style-bold = "Extrabold"
{% elif terminal_font == "Berkeley Mono" %}
font-style = "Medium Condensed"
font-style-bold = "ExtraBold Condensed"
font-style-italic = "Medium Condensed Oblique"
font-style-bold-italic = "ExtraBold Condensed Oblique"
{% endif %}
foreground = #{{ light_normal }}
background = #{{ light_bg }}
palette = 0=#{{ light_faint }}
palette = 1=#{{ light_red }}
palette = 2=#{{ light_green }}
palette = 3=#{{ light_yellow }}
palette = 4=#{{ light_blue }}
palette = 5=#{{ light_magenta }}
palette = 6=#{{ light_cyan }}
palette = 7=#{{ light_bright }}
palette = 8=#{{ light_subtle }}
palette = 9=#{{ light_red_bright }}
palette = 10=#{{ light_green_bright }}
palette = 11=#{{ light_yellow_bright }}
palette = 12=#{{ light_blue_bright }}
palette = 13=#{{ light_magenta_bright }}
palette = 14=#{{ light_cyan_bright }}
palette = 15=#000000
