{{#dark-theme}}
colors:
  primary:
    background: '#1c2022'
    foreground: '#c0c0c0'
  normal:
    black:   '#505050'
    red:     '#b44738'
    green:   '#518921'
    yellow:  '#a79026'
    blue:    '#3982ce'
    magenta: '#ae4fa3'
    cyan:    '#008f89'
    white:   '#c0c0c0'
  bright:
    black:   '#707070'
    red:     '#d2614f'
    green:   '#6ea63f'
    yellow:  '#c9b047'
    blue:    '#5799e7'
    magenta: '#c866bb'
    cyan:    '#00b2ab'
    white:   '#e0e0e0'
  transparent_background_colors: true
env:
  DARK_THEME: yes
{{/dark-theme}}
{{^dark-theme}}
colors:
  primary:
    background: '#f4f4f4'
    foreground: '#636363'
    bright_foreground: '#3a3a3a'
    dim_foreground: '#989898'
  normal:
    black:   '#989898'
    red:     '#b93737'
    green:   '#247e02'
    yellow:  '#8a7500'
    blue:    '#0070bd'
    magenta: '#9b3c95'
    cyan:    '#00856d'
    white:   '#3a3a3a'
  bright:
    black:   '#b1b1b1'
    red:     '#f5605c'
    green:   '#4daf35'
    yellow:  '#baa300'
    blue:    '#009ff9'
    magenta: '#d165ca'
    cyan:    '#00b79a'
    white:   '#161616'
  dim:
    black:   '#c4c4c4'
    red:     '#850009'
    green:   '#005200'
    yellow:  '#5f4900'
    blue:    '#00428d'
    magenta: '#6b0268'
    cyan:    '#005843'
    white:   '#505050'
{{/dark-theme}}

draw_bold_text_with_bright_colors: false

font:
  normal:
    family: Iosevka Term
  size: 14

key_bindings:
  - { key: Plus, mods: Control|Shift, action: IncreaseFontSize }
  - { key: Equals, mods: Control, action: None }

mouse:
  hide_when_typing: true

mouse_bindings:
  - { mouse: 275, chars: "\x1b[A" }
  - { mouse: 276, chars: "\x1b[B" }
  - { mouse: 277, action: Paste }

scrolling:
  multiplier: 5

selection:
  save_to_clipboard: true

window:
  dynamic_padding: true
  opacity: 1
