{{#dark-theme}}
colors:
  primary:
    background: '0x1c2022'
    foreground: '0xc0c0c0'
  normal:
    black:   '0x505050'
    red:     '0xb44738'
    green:   '0x518921'
    yellow:  '0xa79026'
    blue:    '0x3982ce'
    magenta: '0xae4fa3'
    cyan:    '0x008f89'
    white:   '0xc0c0c0'
  bright:
    black:   '0x707070'
    red:     '0xd2614f'
    green:   '0x6ea63f'
    yellow:  '0xc9b047'
    blue:    '0x5799e7'
    magenta: '0xc866bb'
    cyan:    '0x00b2ab'
    white:   '0xe0e0e0'
  transparent_background_colors: true
{{/dark-theme}}
{{^dark-theme}}
colors:
  primary:
    background: '0xf4f4f4'
    foreground: '0x303030'
  normal:
    black:   '0x919191'
    red:     '0xb24b43'
    green:   '0x4e7e25'
    yellow:  '0x847b12'
    blue:    '0x1f72ba'
    magenta: '0xa04f96'
    cyan:    '0x00837c'
    white:   '0x6a6a6a'
  bright:
    black:   '0xb8aeb1'
    red:     '0xda675c'
    green:   '0x6a9e3c'
    yellow:  '0xa59a2b'
    blue:    '0x4091e3'
    magenta: '0xc66bba'
    cyan:    '0x00a59c'
    white:   '0x908689'
  dim:
    black:   '0x7f7f7f'
    red:     '0x8c473f'
    green:   '0x4a692f'
    yellow:  '0x716927'
    blue:    '0x375f8e'
    magenta: '0x7f4977'
    cyan:    '0x006c67'
    white:   '0x595959'
{{/dark-theme}}

draw_bold_text_with_bright_colors: false

font:
  normal:
    family: Iosevka Term
  size: 14

key_bindings:
  - { key: Plus, mods: Control|Shift, action: IncreaseFontSize }
  - { key: Equals, mods: Control, action: None }

mouse:
  hide_when_typing: true

mouse_bindings:
  - { mouse: 275, chars: "\x1b[A" }
  - { mouse: 276, chars: "\x1b[B" }
  - { mouse: 277, action: Paste }

scrolling:
  multiplier: 5

selection:
  save_to_clipboard: true

window:
  dynamic_padding: true
  opacity: {{#dark-theme}}0.97{{/dark-theme}}{{^dark-theme}}1{{/dark-theme}}
