{{#dark-theme}}
colors:
  primary:
    background: '0x1c2022'
    foreground: '0xc0c0c0'
  normal:
    black:   '0x505050'
    red:     '0xb44738'
    green:   '0x518921'
    yellow:  '0xa79026'
    blue:    '0x3982ce'
    magenta: '0xae4fa3'
    cyan:    '0x008f89'
    white:   '0xc0c0c0'
  bright:
    black:   '0x707070'
    red:     '0xd2614f'
    green:   '0x6ea63f'
    yellow:  '0xc9b047'
    blue:    '0x5799e7'
    magenta: '0xc866bb'
    cyan:    '0x00b2ab'
    white:   '0xe0e0e0'
  transparent_background_colors: true
{{/dark-theme}}
{{^dark-theme}}
colors:
  primary:
    background: '0xf4f4f4'
    foreground: '0x636363'
  normal:
    black:   '0x989898'
    red:     '0xb93737'
    green:   '0x247e02'
    yellow:  '0x8a7500'
    blue:    '0x0070bd'
    magenta: '0x9b3c95'
    cyan:    '0x00856d'
    white:   '0x3a3a3a'
  bright:
    black:   '0xb1b1b1'
    red:     '0xf5605c'
    green:   '0x4daf35'
    yellow:  '0xbaa300'
    blue:    '0x009ff9'
    magenta: '0xd165ca'
    cyan:    '0x00b79a'
    white:   '0x161616'
  dim:
    black:   '0xc4c4c4'
    red:     '0x850009'
    green:   '0x005200'
    yellow:  '0x5f4900'
    blue:    '0x00428d'
    magenta: '0x6b0268'
    cyan:    '0x005843'
    white:   '0x505050'
{{/dark-theme}}

draw_bold_text_with_bright_colors: false

font:
  normal:
    family: Iosevka Term
  size: 14

key_bindings:
  - { key: Plus, mods: Control|Shift, action: IncreaseFontSize }
  - { key: Equals, mods: Control, action: None }

mouse:
  hide_when_typing: true

mouse_bindings:
  - { mouse: 275, chars: "\x1b[A" }
  - { mouse: 276, chars: "\x1b[B" }
  - { mouse: 277, action: Paste }

scrolling:
  multiplier: 5

selection:
  save_to_clipboard: true

window:
  dynamic_padding: true
  opacity: {{#dark-theme}}0.97{{/dark-theme}}{{^dark-theme}}1{{/dark-theme}}
