'.platform-win32 atom-workspace, .platform-linux atom-workspace':
  'ctrl-p': 'unset!'

'.terminal-pane':
  'ctrl-shift-c': 'core:copy'

'atom-text-editor':
  'ctrl-i': 'nuclide-navigation-stack:navigate-forwards'
  'ctrl-o': 'nuclide-navigation-stack:navigate-backwards'
  'ctrl-p': 'autocomplete-plus:activate'
  'ctrl-n': 'autocomplete-plus:activate'

'atom-text-editor.autocomplete-active':
  'ctrl-n': 'autocomplete-plus:move-down'
  'ctrl-p': 'autocomplete-plus:move-up'

'atom-text-editor:not([mini])':
  'tab': 'editor:indent'
