[general]
temp-day=6000
temp-night=4400
gamma-night=1.1
{% if host == "colinchan-fedora" %}
  location-provider=manual
  [manual]
  # MPK
  lat=37.47
  lon=-122.24
  # NYC
  #lat=40.75
  #lon=-74.00
{% else %}
  brightness-night=0.85
  dawn-time=07:00-08:00
  dusk-time=20:00-21:00
{% endif %}
