[Settings]
gtk-application-prefer-dark-theme={% if theme == "dark" %}true{% else %}false{% endif %}

gtk-cursor-blink=false
gtk-cursor-theme-name={{ cursor_theme }}
gtk-cursor-theme-size={{ cursor_size }}
gtk-decoration-layout=menu:close
gtk-enable-event-sounds=false
gtk-font-name={{ ui_font_name }} {{ ui_font_size }}
gtk-theme-name={{ gtk_theme }}
