[Settings]
{{#dark-theme}}
gtk-application-prefer-dark-theme=true
{{/dark-theme}}
{{^dark-theme}}
gtk-application-prefer-dark-theme=false
{{/dark-theme}}
{{#colinchan-fedora}}
gtk-cursor-theme-name=DMZ-White
gtk-cursor-theme-size=48
{{/colinchan-fedora}}
{{^colinchan-fedora}}
gtk-cursor-theme-name=Adwaita
gtk-cursor-theme-size=32
{{/colinchan-fedora}}
gtk-cursor-blink=false
gtk-font-name=Liberation Sans 10
gtk-recent-files-max-age=0
