[Settings]
{% if theme == "dark" %}
gtk-application-prefer-dark-theme=true
{% endif %}
gtk-cursor-theme-name={{ cursor_theme }}
gtk-cursor-theme-size={{ cursor_size }}
gtk-cursor-blink=false
gtk-recent-files-max-age=0
