gtk-cursor-blink=0
gtk-cursor-theme-name="{{ cursor_theme }}"
gtk-cursor-theme-size={{ cursor_size }}
gtk-enable-event-sounds=0
gtk-font-name="{{ ui_font_name }} {{ ui_font_size }}"
gtk-theme-name="{{ gtk_theme }}"
