monitor = , preferred, auto, 1

{% if host == "apartmantwo" %}
monitor = desc:Dell Inc. DELL U2520D GYCNGZ2, preferred, 0x0, 1
monitor = desc:Dell Inc. DELL U2520DR 9JKMGZ2, preferred, 2560x0, 1
{% elif host == "colinchan-fedora" %}
monitor = eDP-1, preferred, 0x1080, 1
workspace = eDP-1, 1
monitor = DP-2, preferred, 1920x0, 1
workspace = DP-2, 2
monitor = DP-3, preferred, 5760x0, 1
monitor = DP-3, transform, 1
workspace = DP-3, 6
monitor = DP-5, preferred, 1920x0, 1
workspace = DP-5, 2
monitor=HDMI-A-1,preferred,auto,1,mirror,eDP-1
{% endif %}

general {
    border_size = 3
    gaps_in = 15
    gaps_out = 30
    col.active_border = rgba(33ccffee) rgba(00ff99ee) 45deg
    col.inactive_border = rgba(595959aa)
}

decoration {
    rounding = 10
    inactive_opacity = 0.95
    shadow_range = 40
    shadow_render_power = 2
    col.shadow = rgba(000000cc)
    col.shadow_inactive = rgba(00000088)
    blur {
        size = 10
    }
}

animations {
    bezier = easeOutQuart, 0.25, 1, 0.5, 1
    animation = windows, 1, 5, default, popin 85%
    animation = windowsMove, 1, 3, easeOutQuart
    animation = fade, 1, 10, default
    animation = fadeIn, 0, 1, default
    animation = fadeOut, 1, 8, default
    animation = border, 0, 5, default
    animation = workspaces, 1, 3, easeOutQuart
}

input {
    kb_layout = us
    kb_options = caps:ctrl_modifier,compose:ralt
    numlock_by_default = true
    repeat_rate = 50
    repeat_delay = 180
}

gestures {
    workspace_swipe = true
}

misc {
    disable_hyprland_logo = true
}

dwindle {
    pseudotile = true
    preserve_split = true
}

layerrule = blur,waybar
layerrule = blur,notifications

$mod = SUPER
$term = {{ terminal_app }}

# Launching
bind = $mod, Return, exec, systemd-run-launch-app $term $term -e tmux new-session
bind = $mod SHIFT, Return, exec, systemd-run-launch-app $term $term
bind = $mod SHIFT ALT, Return, exec, $term
bind = $mod, e, exec, dolphin
bind = $mod, r, exec, wofi --show drun
bind = $mod, Space, exec, applauncher
bind = $mod, b, exec, systemd-run-launch-app web-browser gtk-launch web-browser.desktop
bind = $mod, t, exec, systemd-run-launch-app thunar gtk-launch thunar.desktop
bind = $mod, v, exec, systemd-run-launch-app pavucontrol gtk-launch pavucontrol.desktop
# TODO lock screen: bind = $mod, Backspace, exec, ...
bind = , Print, exec, screenshot
bind = SHIFT, Print, exec, screenshot --region
bind = $mod, Print, exec, screenshot --window
bind = ALT, Print, exec, screenshot --region --text

# Global
bind = $mod SHIFT, q, exec, systemctl --user stop graphical-session.target; hyprctl dispatch exit
bind = $mod SHIFT, s, exec, shutdown-prompt
bind = $mod SHIFT, r, exec, hyprctl reload
bind = $mod, Backspace, exec, systemctl --user kill --signal USR1 swayidle
binde = $mod, c, exec, makoctl dismiss
binde = $mod SHIFT, c, exec, makoctl restore
bind = $mod, x, exec, makoctl menu wofi -d -p 'Choose Action: '
binde = , XF86AudioLowerVolume, exec, pactl set-sink-volume @DEFAULT_SINK@ -5%
binde = , XF86AudioRaiseVolume, exec, pactl set-sink-volume @DEFAULT_SINK@ +5%
binde = , XF86AudioMute, exec, pactl set-sink-mute @DEFAULT_SINK@ toggle
bind = , XF86Tools, exec, hyprpicker | tr '[:upper:]' '[:lower:]' | wl-copy -n
bind = , XF86Launch6, exec, microphone unmute
bindr = , XF86Launch6, exec, microphone mute

# Windows
binde = $mod, h, movefocus, l
binde = $mod, j, movefocus, d
binde = $mod, k, movefocus, u
binde = $mod, l, movefocus, r
binde = $mod SHIFT, h, movewindow, l
binde = $mod SHIFT, j, movewindow, d
binde = $mod SHIFT, k, movewindow, u
binde = $mod SHIFT, l, movewindow, r
bind = $mod, e, togglesplit,
bind = $mod, f, fullscreen, 0
bind = $mod, m, fullscreen, 1
bind = $mod, grave, killactive,
bind = $mod ALT, Space, pseudo,
bind = $mod SHIFT, Space, togglefloating,
bind = $mod CTRL, Space, pin,
bindm = $mod, mouse:272, movewindow
bindm = $mod, mouse:273, resizewindow

# Workspaces
bind = $mod, 1, workspace, 1
bind = $mod, 2, workspace, 2
bind = $mod, 3, workspace, 3
bind = $mod, 4, workspace, 4
bind = $mod, 5, workspace, 5
bind = $mod, 6, workspace, 6
bind = $mod, 7, workspace, 7
bind = $mod, 8, workspace, 8
bind = $mod, 9, workspace, 9
bind = $mod, 0, workspace, 10
bind = $mod SHIFT, 1, movetoworkspace, 1
bind = $mod SHIFT, 2, movetoworkspace, 2
bind = $mod SHIFT, 3, movetoworkspace, 3
bind = $mod SHIFT, 4, movetoworkspace, 4
bind = $mod SHIFT, 5, movetoworkspace, 5
bind = $mod SHIFT, 6, movetoworkspace, 6
bind = $mod SHIFT, 7, movetoworkspace, 7
bind = $mod SHIFT, 8, movetoworkspace, 8
bind = $mod SHIFT, 9, movetoworkspace, 9
bind = $mod SHIFT, 0, movetoworkspace, 10
bind = $mod, n, workspace, m+1
bind = $mod, p, workspace, m-1
bind = $mod, mouse_down, workspace, m+1
bind = $mod, mouse_up, workspace, m-1

# Move mode
bind = $mod SHIFT, m, submap, move
submap = move
bind = , h, movewindow, mon:left
bind = , j, movewindow, mon:down
bind = , k, movewindow, mon:up
bind = , l, movewindow, mon:right
bind = SHIFT, h, movecurrentworkspacetomonitor, left
bind = SHIFT, j, movecurrentworkspacetomonitor, down
bind = SHIFT, k, movecurrentworkspacetomonitor, up
bind = SHIFT, l, movecurrentworkspacetomonitor, right
bind = , Enter, submap, reset
bind = , Escape, submap, reset
bind = CTRL, bracketleft, submap, reset
submap = reset

exec-once = systemctl --user import-environment DISPLAY WAYLAND_DISPLAY
exec-once = systemd-notify --ready

windowrulev2 = float,title:^Firefox — Sharing Indicator$
windowrulev2 = float,class:^pavucontrol$
windowrulev2 = move cursor -50% -50%,class:^pavucontrol$
windowrulev2 = float,title:^imv-screenshot$

windowrulev2 = nofocus,title:^mpv-overlay
windowrulev2 = noblur,title:^mpv-overlay
windowrulev2 = noborder,title:^mpv-overlay
windowrulev2 = nodim,title:^mpv-overlay
windowrulev2 = float,title:^mpv-overlay
windowrulev2 = pin,title:^mpv-overlay
windowrulev2 = opacity 0.4 override,title:^mpv-overlay
windowrulev2 = size 100% 100%,title:^mpv-overlay
windowrulev2 = center,title:^mpv-overlay
windowrulev2 = monitor 0,title:^mpv-overlay-0
windowrulev2 = monitor 1,title:^mpv-overlay-1
