general {
    colors = true
    color_bad = "#cc0000"
    color_degraded = "#c4a000"
    color_good = "#4e9a06"
    color_separator = "#c4a000"
    interval = 2
    markup = "pango"
    output_format = "i3bar"
}

battery BAT0 {
    format = "%status %percentage %remaining"
}

cpu_temperature 0 {
    format = "%degrees°C"
    max_threshold = 70
}

cpu_usage {
    format = "%usage"
}

disk "/" {
    format = "/ %free"
}

disk "/home" {
    format = "/home %free"
}

{{#apartmanteau}}
ethernet enp5s0 {
    color_bad = "#d3d7cf"
    format_up = "E: %ip"
    format_down = "E: down"
}
{{/apartmanteau}}

tztime local {
    format = "%Y-%m-%d %H:%M"
}

volume pulse {
    format = "%volume"
    device = "pulse"
}

{{#laptop}}
read_file meeting {
    color_good = "#d1d2d0"
    path = "{{homedir}}/.next-meeting"
}
wireless wlp61s0 {
    color_bad = "#d3d7cf"
    format_up = "W: (%quality at %essid) %ip"
    format_down = "W: down"
}
ethernet enp0s31f6 {
    color_bad = "#d3d7cf"
    format_up = "E: %ip"
    format_down = "E: down"
}
{{/laptop}}

{{#apartmanteau}}
order += "ethernet enp5s0"
{{/apartmanteau}}
{{#laptop}}
order += "read_file meeting"
order += "wireless wlp61s0"
order += "ethernet enp0s31f6"
{{/laptop}}
order += "disk /"
order += "disk /home"
order += "cpu_usage"
order += "cpu_temperature 0"
order += "battery BAT0"
order += "volume pulse"
order += "tztime local"
