[user]
name = "Colin Chan"
email = "colin+git@lumeh.org"

[ui]
default-command = "log"
pager = "less"

[colors]
"diff added" = { fg = "#{{ dark_green_bright }}", bg = "#{{ dark_green_bg }}" }
"diff removed" = { fg = "#{{ dark_red_bright }}", bg = "#{{ dark_red_bg }}" }
"diff token" = { underline = false }
"diff line_number" = { fg = "#{{ dark_faint }}", bg = "default" }
"diff context line_number" = { fg = "#{{ dark_faint }}", bg = "default", dim = false }

[remotes.origin]
auto-track-bookmarks = "colin/*"

[revset-aliases]
tip = "latest(visible())"
top = "exactly(heads(@::) & visible(), 1)"

[revsets]
log-graph-prioritize = "trunk()"

[templates]
file_annotate = "join(' ', commit.commit_id().short(8), pad_start(12, truncate_end(12, commit.author().timestamp().ago())), pad_start(9, truncate_end(9, commit.author().name())), pad_start(3, line_number), content)"

[template-aliases]
"format_short_signature(signature)" = "signature.name()"
