[user]
name = "Colin Chan"
email = "colin@pylonlending.com"

[ui]
default-command = "log"
pager = "less"

[aliases]
dup = ["duplicate"]
fetch = ["git", "fetch"]
top = ["new", "top"]
bottom = ["new", "bottom"]

[colors]
"diff color_words added" = { fg = "#{{ dark_green_bright }}", bg = "#{{ dark_green_bg }}" }
"diff color_words removed" = { fg = "#{{ dark_red_bright }}", bg = "#{{ dark_red_bg }}" }
"diff color_words token" = { underline = false }
"diff color_words line_number" = { fg = "#{{ dark_faint }}", bg = "default" }
"diff color_words context line_number" = { fg = "#{{ dark_faint }}", bg = "default", dim = false }

[remotes.origin]
auto-track-bookmarks = "colin/*"

[revset-aliases]
tip = "latest(visible())"

# Stack navigation
current = "coalesce((@ & empty() & heads(@::))-, @)"
top = "exactly(heads(current::) ~ empty() & visible(), 1)"
bottom = "exactly(roots(::current ~ immutable()) ~ empty() & visible(), 1)"

# Allow changes with graphite-base/* bookmarks to remain mutable
"immutable_heads()" = "builtin_immutable_heads() ~ (bookmarks() & remote_bookmarks(graphite-base/*))"

[revsets]
bookmark-advance-to = "@-"
log-graph-prioritize = "trunk()"

[templates]
file_annotate = "join(' ', commit.commit_id().short(8), pad_start(12, truncate_end(12, commit.author().timestamp().ago())), pad_start(9, truncate_end(9, commit.author().name())), pad_start(3, line_number), content)"
git_push_bookmark = '"colin/push-" ++ change_id.short()'

[template-aliases]
"format_short_signature(signature)" = "signature.name()"
