[user]
name = "Colin Chan"
email = "colin@pylonlending.com"

[ui]
default-command = "log"
pager = "less"

[colors]
"diff added" = { fg = "#{{ dark_green_bright }}", bg = "#{{ dark_green_bg }}" }
"diff removed" = { fg = "#{{ dark_red_bright }}", bg = "#{{ dark_red_bg }}" }
"diff token" = { underline = false }
"diff line_number" = { fg = "#{{ dark_faint }}", bg = "default" }
"diff context line_number" = { fg = "#{{ dark_faint }}", bg = "default", dim = false }

[remotes.origin]
auto-track-bookmarks = "colin/*"

[revset-aliases]
tip = "latest(visible())"
top = "exactly(heads(@::) & visible(), 1)"

[revsets]
bookmark-advance-to = "@-"
log-graph-prioritize = "trunk()"

[templates]
draft_commit_description = '''
if(description,
  builtin_draft_commit_description_with_diff,
  concat(commit_message_template, builtin_draft_commit_description_with_diff),
)
'''
file_annotate = "join(' ', commit.commit_id().short(8), pad_start(12, truncate_end(12, commit.author().timestamp().ago())), pad_start(9, truncate_end(9, commit.author().name())), pad_start(3, line_number), content)"

[template-aliases]
"format_short_signature(signature)" = "signature.name()"
"commit_message_template" = """'(no title)

## Overview



## Customer visible changes

N/A

## How did you test these changes?

- [ ]  The changes are fully covered by automated tests.
- [ ]  The changes cannot affect production.
- [ ]  I will manually test this functionality on every release until automated (<my playbook>).'
"""
