clipboard_control write-clipboard write-primary read-clipboard-ask read-primary-ask no-append
cursor_blink_interval 0
enable_audio_bell no
font_family Iosevka Term Medium
bold_font Iosevka Term Bold
font_size 16.5
initial_window_height 35c
initial_window_width 120c
remember_window_size no
scrollback_lines 10000
touch_scroll_multiplier 6.0

{% if theme == "dark" %}
foreground #c0c0c0
background #1c2022
color0  #505050
color1  #b44638
color2  #518921
color3  #a79026
color4  #3982ce
color5  #ae4fa3
color6  #008f89
color7  #c0c0c0
color8  #707070
color9  #d2614f
color10 #6ea63f
color11 #c9b047
color12 #5799e7
color13 #c866bb
color14 #00b2ab
color15 #e0e0e0
wayland_titlebar_color #2a2f31
env DARK_THEME=yes
{% else %}
foreground #404040
background #f4f4f4
color0  #e0e0e0
color1  #c8514d
color2  #3f8f2b
color3  #9b8700
color4  #0083cc
color5  #ac52a6
color6  #00967e
color7  #202020
color8  #d0d0d0
color9  #e05a55
color10 #46a02e
color11 #ad9600
color12 #0093e6
color13 #c15bba
color14 #00a88d
color15 #000000
env DARK_THEME=no
{% endif %}
dim_opacity 0.6
cursor none
selection_foreground none
selection_background none
