clipboard_control write-clipboard write-primary read-clipboard-ask read-primary-ask no-append
cursor_blink_interval 0
enable_audio_bell no
font_size {{ terminal_font_size }}
window_padding_width 4
initial_window_height 35c
initial_window_width 120c
remember_window_size no
scrollback_lines 10000
scrollback_pager less --RAW-CONTROL-CHARS --chop-long-lines --ignore-case --mouse --wheel-lines=5 +INPUT_LINE_NUMBER
touch_scroll_multiplier 6.0
wheel_scroll_multiplier 1.0

{% if theme == "dark" %}
font_family Iosevka Term
bold_font Iosevka Term Bold
italic_font Iosevka Term Italic
bold_italic_font Iosevka Term Bold Italic
foreground #c0c0c0
background #1c2022
background_opacity 1.0
color0  #505050
color1  #b44638
color2  #518921
color3  #a79026
color4  #3982ce
color5  #ae4fa3
color6  #008f89
color7  #c0c0c0
color8  #707070
color9  #d2614f
color10 #6ea63f
color11 #c9b047
color12 #5799e7
color13 #c866bb
color14 #00b2ab
color15 #e0e0e0
dim_opacity 0.5
wayland_titlebar_color #2a2f31
env DARK_THEME=yes
{% else %}
font_family Iosevka Term Medium
bold_font Iosevka Term Extrabold
italic_font Iosevka Term Medium Italic
bold_italic_font Iosevka Term Extrabold Italic
foreground #3d3a37
background #ebe7e3
color0  #d1cdc9
color1  #ca625e
color2  #5b9845
color3  #9c8600
color4  #2d8dd0
color5  #b166ad
color6  #009f91
color7  #040302
color8  #b1adaa
color9  #ef736f
color10 #6bb450
color11 #b89e00
color12 #33a6f6
color13 #d179cd
color14 #00bcab
color15 #000000
dim_opacity 0.7
env DARK_THEME=no
{% endif %}
cursor none
selection_foreground none
selection_background none
