clipboard_control write-clipboard write-primary read-clipboard-ask read-primary-ask no-append
cursor_blink_interval 0
cursor_trail 10
cursor_trail_decay 0.1 0.3
cursor_trail_start_threshold 5
enable_audio_bell no
font_size {{ terminal_font_size }}
window_padding_width 4
initial_window_height 35c
initial_window_width 120c
remember_window_size no
scrollback_fill_enlarged_window yes
scrollback_lines 5000
scrollback_pager less -SR -#.1 --ignore-case --mouse --wheel-lines=5 +INPUT_LINE_NUMBER
scrollback_pager_history_size 64
touch_scroll_multiplier 6.0
wheel_scroll_multiplier 1.0

enabled_layouts splits:split_axis=horizontal
map kitty_mod+e launch --location=hsplit --cwd=current
map kitty_mod+o launch --location=vsplit --cwd=current
map kitty_mod+u open_url_with_hints
map kitty_mod+y detach_window
map kitty_mod+alt+y detach_window ask
map alt+h neighboring_window left
map alt+j neighboring_window down
map alt+k neighboring_window up
map alt+l neighboring_window right

map kitty_mod+equal change_font_size current +1.0
map kitty_mod+minus change_font_size current -1.0
map kitty_mod+0 change_font_size current 0
map ctrl+shift+backspace

{% if theme == "dark" %}
{% if terminal_font == "Berkeley Mono" %}
font_family family="Berkeley Mono Variable" features="-calt -dlig" style="Book Condensed"
bold_font family="Berkeley Mono Variable" features="-calt -dlig" style="ExtraBold Condensed"
italic_font family="Iosevka Slab" style="Italic"
bold_italic_font family="Iosevka Slab" style="Bold Italic"
modify_font underline_thickness 75%
{% elif terminal_font == "Iosevka Term" %}
font_family Iosevka Term
bold_font Iosevka Term Bold
italic_font Iosevka Term Italic
bold_italic_font Iosevka Term Bold Italic
{% endif %}
foreground #{{ dark_normal }}
background #{{ dark_bg }}
color0  #{{ dark_faint }}
color1  #{{ dark_red }}
color2  #{{ dark_green }}
color3  #{{ dark_yellow }}
color4  #{{ dark_blue }}
color5  #{{ dark_magenta }}
color6  #{{ dark_cyan }}
color7  #{{ dark_bright }}
color8  #{{ dark_subtle }}
color9  #{{ dark_red_bright }}
color10 #{{ dark_green_bright }}
color11 #{{ dark_yellow_bright }}
color12 #{{ dark_blue_bright }}
color13 #{{ dark_magenta_bright }}
color14 #{{ dark_cyan_bright }}
color15 #ffffff
env DARK_THEME=yes
{% else %}
{% if terminal_font == "Berkeley Mono" %}
font_family family="Berkeley Mono Variable" features="-calt -dlig" style="Medium Condensed"
bold_font family="Berkeley Mono Variable" features="-calt -dlig" style="ExtraBold Condensed"
italic_font family="Iosevka Slab" style="Medium Italic"
bold_italic_font family="Iosevka Slab" style="ExtraBold Italic"
{% elif terminal_font == "Iosevka Term" %}
font_family Iosevka Term Medium
bold_font Iosevka Term Extrabold
italic_font Iosevka Term Medium Italic
bold_italic_font Iosevka Term Extrabold Italic
{% endif %}
foreground #{{ light_normal }}
background #{{ light_bg }}
color0  #{{ light_faint }}
color1  #{{ light_red }}
color2  #{{ light_green }}
color3  #{{ light_yellow }}
color4  #{{ light_blue }}
color5  #{{ light_magenta }}
color6  #{{ light_cyan }}
color7  #{{ light_bright }}
color8  #{{ light_subtle }}
color9  #{{ light_red_bright }}
color10 #{{ light_green_bright }}
color11 #{{ light_yellow_bright }}
color12 #{{ light_blue_bright }}
color13 #{{ light_magenta_bright }}
color14 #{{ light_cyan_bright }}
color15 #000000
dim_opacity 0.6
env DARK_THEME=no
{% endif %}
cursor none
selection_foreground none
selection_background none
