[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
black = "*"
mypy = "*"
isort = "*"
jinja2 = "*"
pyls-mypy = "*"
pyls-black = "*"
pyls-isort = "*"
tomli = "*"

[requires]
python_version = "3.10"

[scripts]
install = "python install.py"
