[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jinja2 = "*"
tomli = "*"
opentype-feature-freezer = "*"

[requires]
python_version = "3.12"

[scripts]
install = "python install.py"

[dev-packages]
python-lsp-server = "*"
pylsp-mypy = "*"
pyls-isort = "*"
python-lsp-black = "*"
pylsp-rope = "*"
