[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
black = "*"
mypy = "*"
isort = "*"
jinja2 = "*"
pyls-mypy = "*"
pyls-black = "*"
pyls-isort = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.1"

[scripts]
install = "python install.py"
