[Fonts]
fixed="Monospace,{{ ui_font_size }},-1,5,400,0,0,0,0,0,0,0,0,0,0,1,Regular"
general="{{ ui_font_name }},{{ ui_font_size }},-1,5,400,0,0,0,0,0,0,0,0,0,0,1,Regular"

[Interface]
cursor_flash_time=0
