default_border pixel 4
font pango:DejaVu Sans 10
gaps inner 25
set $mod Mod4
set $term alacritty
titlebar_border_thickness 0
titlebar_padding 4 2

output * subpixel rgb
{{#apartmanteau}}
output * bg "/home/colin/pictures/wallpapers/JohnS1212_ - Drift.jpg" fill
output "Dell Inc. DELL U2515HX GMDK46CL06SL" mode 2560x1440 pos 0 0 transform 90 subpixel vbgr
output "Dell Inc. DELL U2520D GYCNGZ2" mode 2560x1440 pos 1440 0
{{/apartmanteau}}
{{#laptop}}
input 2:14:ETPS/2_Elantech_TrackPoint events disabled
output * bg "/home/colinchan/pictures/wallpapers/JohnS1212_ - Drift.jpg" fill
output eDP-1 mode 1920x1080 pos 1440 1440
output "Dell Inc. DELL U2515HX GMDK46CL06SL" mode 2560x1440 pos 0 0 transform 90 subpixel vbgr
output "Dell Inc. DELL U2520D GYCNGZ2" mode 2560x1440 pos 1440 0
{{/laptop}}

input type:keyboard {
    repeat_delay 145
    repeat_rate 55
}

# Sway
bindsym $mod+Shift+r reload
bindsym $mod+Shift+q exit
floating_modifier $mod normal

# Window management
bindsym $mod+grave kill
bindsym $mod+h focus left
bindsym $mod+j focus down
bindsym $mod+k focus up
bindsym $mod+l focus right
bindsym $mod+Shift+h move left
bindsym $mod+Shift+j move down
bindsym $mod+Shift+k move up
bindsym $mod+Shift+l move right
bindsym $mod+a focus parent
bindsym $mod+d focus child
bindsym $mod+Tab focus mode_toggle
bindsym $mod+f fullscreen
bindsym $mod+Shift+space floating toggle
bindsym $mod+Ctrl+space sticky toggle
bindsym $mod+g split h
bindsym $mod+v split v
bindsym $mod+s layout stacking
bindsym $mod+w layout tabbed
bindsym $mod+e layout toggle split
bindsym $mod+z scratchpad show
bindsym $mod+Shift+z move scratchpad

bindsym $mod+1 workspace number 1
bindsym $mod+2 workspace number 2
bindsym $mod+3 workspace number 3
bindsym $mod+4 workspace number 4
bindsym $mod+5 workspace number 5
bindsym $mod+6 workspace number 6
bindsym $mod+7 workspace number 7
bindsym $mod+8 workspace number 8
bindsym $mod+9 workspace number 9
bindsym $mod+0 workspace number 10
bindsym $mod+Shift+1 move container to workspace number 1
bindsym $mod+Shift+2 move container to workspace number 2
bindsym $mod+Shift+3 move container to workspace number 3
bindsym $mod+Shift+4 move container to workspace number 4
bindsym $mod+Shift+5 move container to workspace number 5
bindsym $mod+Shift+6 move container to workspace number 6
bindsym $mod+Shift+7 move container to workspace number 7
bindsym $mod+Shift+8 move container to workspace number 8
bindsym $mod+Shift+9 move container to workspace number 9
bindsym $mod+Shift+0 move container to workspace number 10

mode "move workspace" {
    bindsym h move workspace to output left
    bindsym j move workspace to output down
    bindsym k move workspace to output up
    bindsym l move workspace to output right
    bindsym Return mode "default"
    bindsym Escape mode "default"
    bindsym Ctrl+bracketleft mode "default"
}
bindsym $mod+Shift+m mode "move workspace"

mode "resize" {
    bindsym h resize shrink width 20 px
    bindsym j resize grow height 20 px
    bindsym k resize shrink height 20 px
    bindsym l resize grow width 20 px
    bindsym Return mode "default"
    bindsym Escape mode "default"
    bindsym Ctrl+bracketleft mode "default"
}
bindsym $mod+r mode "resize"

set $normalbg #1c2022c0
set $normalfg #d1d2d0
set $darkgrey #303436
set $grey #52595c
set $red #c81f1f
set $orange #c8742a
set $yellow #c4a800
set $green #4e9a06
set $cyan #069e98
set $blue #3c74c0
set $violet #6050b0
set $magenta #80487f
set $white #d1d2d0
set $brightgrey #6f6f6b
set $brightred #ef4529
set $brightorange #f08438
set $brightyellow #f6db4a
set $brightgreen #8ad834
set $brightcyan #34e2c2
set $brightblue #6492f4
set $brightviolet #8a71e8
set $brightmagenta #ad70a4
set $brightwhite #f8f8f4

# class                 border      backgr.     text        indicator
client.focused          $red        $red        $normalfg   $orange
client.focused_inactive $grey       $grey       $normalfg   $brightgrey
client.unfocused        $darkgrey   $darkgrey   $normalfg   $grey
client.urgent           $orange     $orange     $normalfg   $yellow

bar {
    colors {
        active_workspace $grey $grey $normalfg
        background $normalbg
        focused_workspace $green $green $normalfg
        inactive_workspace $darkgrey $darkgrey $normalfg
        separator $grey
        statusline $normalfg
        urgent_workspace $orange $orange $normalfg
    }
    font pango:DejaVu Sans 11
    position top
    status_command i3status
}

include /etc/sway/config.d/*

# Launch stuff
bindsym $mod+Return exec $term -e tmux new-session
bindsym $mod+Shift+Return exec $term
bindsym $mod+space exec dmenu_path | wofi -d | xargs swaymsg exec --
bindsym $mod+Mod1+f exec ~/bin/browser

# Startup programs
exec /usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1
exec transmission-gtk -m
