default_border pixel 4
focus_on_window_activation urgent
{{^colinchan-fedora}}
gaps inner 25
{{/colinchan-fedora}}
tiling_drag enable
titlebar_border_thickness 0
titlebar_padding 4 2

{{^fruitron}}
font pango:DejaVu Sans 10
set $mod Mod4
set $term alacritty

input type:keyboard {
    repeat_delay 145
    repeat_rate 55
    xkb_layout "us"
    xkb_options "caps:ctrl_modifier,compose:ralt"
}

input "1390:268:ELECOM_TrackBall_Mouse_HUGE_TrackBall" {
    scroll_button BTN_EXTRA
    scroll_method on_button_down
}

{{/fruitron}}
{{#fruitron}}
font pango:DejaVu Sans 12
set $mod Mod1
set $term termite

input type:keyboard {
    repeat_delay 300
    repeat_rate 30
}
input type:touchpad {
    accel_profile adaptive
    pointer_accel 1
}
{{/fruitron}}

{{#colinchan-fedora}}
input "2:14:ETPS/2_Elantech_TrackPoint" events disabled
{{/colinchan-fedora}}

output * subpixel rgb
output * bg ~/.cache/wallpaper.jpg fill

{{#colinchan-fedora}}
# home
output "Dell Inc. DELL U2520D GYCNGZ2" position 0 0
output "Dell Inc. DELL U2520DR 9JKMGZ2" position 2560 0
output eDP-1 position 2560 1440
# office
#output "Dell Inc. DELL UP3017 73GTT6BL101L" position 0 0 transform 90
#output "Dell Inc. DELL UP3017 Y1PJF69S442L" position 1600 0
#output eDP-1 position 4160 520

bindswitch --reload --locked lid:on output eDP-1 disable
bindswitch --reload --locked lid:off output eDP-1 enable
{{/colinchan-fedora}}

{{#apartmantwo}}
output DP-5 position 0 0
output DP-4 position 2560 0
workspace 4 output DP-5
workspace 6 output DP-4
{{/apartmantwo}}

seat * xcursor_theme Adwaita 32

# Sway
bindsym $mod+Shift+r reload
bindsym $mod+Shift+s exec shutdown-prompt
bindsym $mod+Shift+q exec "systemctl --user stop graphical-session.target; swaymsg exit"
floating_modifier $mod normal

# Window management
bindsym $mod+grave kill
bindsym $mod+h focus left
bindsym $mod+j focus down
bindsym $mod+k focus up
bindsym $mod+l focus right
bindsym $mod+Shift+h move left
bindsym $mod+Shift+j move down
bindsym $mod+Shift+k move up
bindsym $mod+Shift+l move right
bindsym $mod+a focus parent
bindsym $mod+d focus child
bindsym $mod+Tab focus mode_toggle
bindsym $mod+f fullscreen
bindsym $mod+Shift+space floating toggle
bindsym $mod+Ctrl+space sticky toggle
bindsym $mod+s layout stacking
bindsym $mod+w layout tabbed
bindsym $mod+e layout toggle split
bindsym $mod+Shift+e split toggle
bindsym $mod+z scratchpad show
bindsym $mod+Shift+z move scratchpad

bindsym $mod+1 workspace number 1
bindsym $mod+2 workspace number 2
bindsym $mod+3 workspace number 3
bindsym $mod+4 workspace number 4
bindsym $mod+5 workspace number 5
bindsym $mod+6 workspace number 6
bindsym $mod+7 workspace number 7
bindsym $mod+8 workspace number 8
bindsym $mod+9 workspace number 9
bindsym $mod+0 workspace number 10
bindsym $mod+Shift+1 move container to workspace number 1
bindsym $mod+Shift+2 move container to workspace number 2
bindsym $mod+Shift+3 move container to workspace number 3
bindsym $mod+Shift+4 move container to workspace number 4
bindsym $mod+Shift+5 move container to workspace number 5
bindsym $mod+Shift+6 move container to workspace number 6
bindsym $mod+Shift+7 move container to workspace number 7
bindsym $mod+Shift+8 move container to workspace number 8
bindsym $mod+Shift+9 move container to workspace number 9
bindsym $mod+Shift+0 move container to workspace number 10

mode "move workspace" {
    bindsym h move workspace to output left
    bindsym j move workspace to output down
    bindsym k move workspace to output up
    bindsym l move workspace to output right
    bindsym Return mode "default"
    bindsym Escape mode "default"
    bindsym Ctrl+bracketleft mode "default"
}
bindsym $mod+Shift+m mode "move workspace"

mode "resize" {
    bindsym h resize shrink width 20 px
    bindsym j resize grow height 20 px
    bindsym k resize shrink height 20 px
    bindsym l resize grow width 20 px
    bindsym Minus opacity minus 0.05
    bindsym Plus opacity plus 0.05
    bindsym Return mode "default"
    bindsym Escape mode "default"
    bindsym Ctrl+bracketleft mode "default"
}
bindsym $mod+r mode "resize"

set $normalbg #1c2022c0
set $normalfg #d1d2d0
set $darkgrey #303436
set $grey #52595c
set $red #c81f1f
set $orange #c8742a
set $yellow #c4a800
set $green #4e9a06
set $cyan #069e98
set $blue #3c74c0
set $violet #6050b0
set $magenta #80487f
set $white #d1d2d0
set $brightgrey #6f6f6b
set $brightred #ef4529
set $brightorange #f08438
set $brightyellow #f6db4a
set $brightgreen #8ad834
set $brightcyan #34e2c2
set $brightblue #6492f4
set $brightviolet #8a71e8
set $brightmagenta #ad70a4
set $brightwhite #f8f8f4

# class                 border      backgr.     text        indicator
client.focused          $red        $red        $normalfg   $orange
client.focused_inactive $grey       $grey       $normalfg   $brightgrey
client.unfocused        $darkgrey   $darkgrey   $normalfg   $grey
client.urgent           $orange     $orange     $normalfg   $yellow

include /etc/sway/config.d/*

# Applications
bindsym $mod+Return exec systemd-run-launch-app $term $term -e tmux new-session
bindsym $mod+Shift+Return exec systemd-run-launch-app $term $term
bindsym $mod+Shift+Mod1+Return exec $term
bindsym $mod+Space exec applauncher
bindsym $mod+b exec systemd-run-launch-app firefox gtk-launch firefox.desktop
bindsym $mod+t exec systemd-run-launch-app nautilus gtk-launch org.gnome.Nautilus.desktop
bindsym $mod+v exec systemd-run-launch-app pavucontrol gtk-launch pavucontrol.desktop
bindsym $mod+Backspace exec systemctl --user kill --signal USR1 swayidle
bindsym Print exec ~/bin/screenshot
bindsym Shift+Print exec ~/bin/screenshot --region
bindsym $mod+Print exec ~/bin/screenshot --window

# Volume/media
bindsym XF86AudioRaiseVolume exec pactl set-sink-volume @DEFAULT_SINK@ +5%
bindsym XF86AudioLowerVolume exec pactl set-sink-volume @DEFAULT_SINK@ -5%
bindsym XF86AudioMute exec pactl set-sink-mute @DEFAULT_SINK@ toggle
bindsym --no-repeat XF86Tools exec microphone toggle

# Notifications
bindsym $mod+c exec makoctl dismiss
bindsym $mod+x exec makoctl menu wofi -d -p 'Choose Action: '

# Window stuff
for_window [title=".*"] inhibit_idle fullscreen
for_window [app_id=".*-float"] floating enable
for_window [app_id="imv"] floating enable
for_window [app_id="mpv"] floating enable
for_window [app_id="nm-*"] floating enable
for_window [app_id="pavucontrol"] floating enable
for_window [class=".*-float"] floating enable
for_window [class="Steam"] floating enable
for_window [class="V4l2ucp"] floating enable
for_window [class="feh"] floating enable
for_window [title="Firefox — Sharing Indicator"] floating enable
for_window [title="Picture-in-Picture"] floating enable

# Startup programs
exec_always "systemctl --user import-environment DISPLAY I3SOCK SWAYSOCK WAYLAND_DISPLAY XCURSOR_SIZE XCURSOR_THEME; systemd-notify --ready"
