.tab-close-button {
  display: none;
}
#tabs-newtab-button {
  display: none;
}

#sidebar-header {
  display: none;
}

/* Hide tab bar for Tree Style Tab */
#main-window[tabsintitlebar="true"]:not([extradragspace="true"]) #TabsToolbar > .toolbar-items {
  opacity: 0;
  pointer-events: none;
}
#main-window:not([tabsintitlebar="true"]) #TabsToolbar {
    visibility: collapse !important;
}

/* Offset right-click menus a bit so they don't appear with the first item already highlighted */
#contentAreaContextMenu {
  margin-top: 5px;
}
