.tab-close-button {
  display: none;
}
#tabs-newtab-button {
  display: none;
}

/* Offset right-click menus a bit so they don't appear with the first item already highlighted */
#contentAreaContextMenu {
  margin-top: 5px !important;
}
