{
  "layer": "top",
  "position": "top",
  "height": 28,

  "modules-left": [
    "hyprland/workspaces",
    "idle_inhibitor"
  ],

  "modules-right": [
    "tray",
    "custom/wallpaper",
    "network",
    "custom/psi-cpu",
    "custom/psi-memory",
    "custom/psi-io",
    "temperature",
    "pulseaudio",
    {% if host == "colinchan-fedora" %}
    "battery",
    {% endif %}
    "clock"
  ],

  "battery": {
    "states": {
      "warning": 30,
      "critical": 15,
    },
    "format": "{icon}  {capacity}%",
    "format-charging": "  {capacity}%",
    "format-icons": ["", "", "", "", ""],
    "tooltip": false
  },

  "clock": {
    "interval": 1,
    "format": "  {:%Y-%m-%d  %H:%M}",
    "format-alt": "  {:%Y-%m-%d  %H:%M:%S}",
    "tooltip-format": "<big>{:%Y %B}</big>\n<tt>{calendar}</tt>",
  },

  "custom/psi-cpu": {
    "interval": 2,
    "return-type": "json",
    "exec": "waybar-psi cpu",
  },
  "custom/psi-memory": {
    "interval": 2,
    "return-type": "json",
    "exec": "waybar-psi memory",
  },
  "custom/psi-io": {
    "interval": 2,
    "return-type": "json",
    "exec": "waybar-psi io",
  },

  "custom/wallpaper": {
    "format": "",
    "on-click": "systemctl --user start update-wallpaper",
  },

  "idle_inhibitor": {
    "format": "{icon}",
    "format-icons": {
      "activated": "",
      "deactivated": ""
    },
    "tooltip": false
  },

  "network": {
    "format-wifi": "  {essid} ({signalStrength}%)",
    "format-ethernet": "  {ipaddr}/{cidr} ",
    "format-linked": "  (No IP) ",
    "format-disconnected": "  Disconnected ",
    "tooltip": false
  },

  "pulseaudio": {
    "format": "  {volume}%",
    "format-muted": "  {volume}%",
    "scroll-step": 5,
    "tooltip": false
  },

  "pulseaudio#mic": {
    "format": "{format_source}",
    "format-source": "<span foreground=\"#069e98\">ON         AIR</span>",
    "format-source-muted": "<span foreground=\"#6f6f6b\">OFF    AIR</span>",
    "scroll-step": 0,
    "on-click": "microphone toggle",
    "tooltip": false
  },

  "hyprland/workspaces": {
  },

  "temperature": {
    "format": "  {temperatureC}°C",
    "critical-threshold": 80,
    "thermal-zone": 0
  },

  "tray": {
    "icon-size": 16,
    "spacing": 16
  }
}
