* {
  border-radius: 0;
  min-height: 0;
}

#waybar {
  background: rgba(0, 0, 0, 0.6);
  color: #d1d2d0;
  font-family: Source Sans Pro;
  font-size: 15px;
  font-weight: 600;
  text-shadow: 0.5px 0.5px 0 black;
}

label {
  margin: 0 8px;
}

#workspaces button {
  color: #52595c;
  padding: 0;
  border-bottom: 2px solid transparent;
}
#workspaces button:hover {
  color: inherit;
}
#workspaces button.focused {
  color: inherit;
  font-weight: 800;
}
#workspaces button.urgent {
  color: #f6db4a;
  font-weight: 800;
}

#mode {
  border-bottom: 3px solid #ffffff;
  color: #4e9a06;
  text-shadow: none;
}

#tray {
  margin-right: 12px;
}

#idle_inhibitor {
  color: #52595c;
  font-size: 12px;
  padding: 0 2px;
}
#idle_inhibitor.activated {
  color: inherit;
}
