local wezterm = require 'wezterm'
local config = wezterm.config_builder()
config.bold_brightens_ansi_colors = 'No'
config.default_domain = 'WSL:Arch'
config.force_reverse_video_cursor = true
config.hide_tab_bar_if_only_one_tab = true
config.scrollback_lines = 50000

{% if terminal_font == "Berkeley Mono Variable" %}
config.font = wezterm.font('Berkeley Mono Variable', { weight = 400, stretch = 'SemiCondensed' })
--config.font_rules = {
--  {
--    intensity = 'Normal', italic = false,
--    font = wezterm.font('Berkeley Mono Variable', { weight = 400, stretch = 'SemiCondensed' } )
--  },
--  {
--    intensity = 'Normal', italic = true,
--    font = wezterm.font('Berkeley Mono Variable', { weight = 400, stretch = 'SemiCondensed', style = 'Italic' } )
--  },
--  {
--    intensity = 'Bold', italic = false,
--    font = wezterm.font('Berkeley Mono Variable', { weight = 700, stretch = 'SemiCondensed' } )
--  },
--  {
--    intensity = 'Bold', italic = true,
--    font = wezterm.font('Berkeley Mono Variable', { weight = 700, stretch = 'SemiCondensed', style = 'Italic' } )
--  },
--  {
--    intensity = 'Half', italic = false,
--    font = wezterm.font('Berkeley Mono Variable', { weight = 400, stretch = 'SemiCondensed' } )
--  },
--  {
--    intensity = 'Half', italic = true,
--    font = wezterm.font('Berkeley Mono Variable', { weight = 400, stretch = 'SemiCondensed', style = 'Italic' } )
--  },
--}
{% else %}
config.font = wezterm.font('{{ terminal_font }}')
{% endif %}
config.font_size = 16

{% if theme == "dark" %}
config.colors = {
  background = '#{{ dark_bg }}',
  foreground = '#{{ dark_normal }}',
  ansi = {
    '#{{ dark_faint }}',
    '#{{ dark_red }}',
    '#{{ dark_green }}',
    '#{{ dark_yellow }}',
    '#{{ dark_blue }}',
    '#{{ dark_magenta }}',
    '#{{ dark_cyan }}',
    '#{{ dark_bright }}',
  },
  brights = {
    '#{{ dark_subtle }}',
    '#{{ dark_red_bright }}',
    '#{{ dark_green_bright }}',
    '#{{ dark_yellow_bright }}',
    '#{{ dark_blue_bright }}',
    '#{{ dark_magenta_bright }}',
    '#{{ dark_cyan_bright }}',
    '#ffffff',
  },
}
{% else %}
config.colors = {
  background = '#{{ light_bg }}',
  foreground = '#{{ light_normal }}',
  ansi = {
    '#{{ light_faint }}',
    '#{{ light_red }}',
    '#{{ light_green }}',
    '#{{ light_yellow }}',
    '#{{ light_blue }}',
    '#{{ light_magenta }}',
    '#{{ light_cyan }}',
    '#{{ light_bright }}',
  },
  brights = {
    '#{{ light_subtle }}',
    '#{{ light_red_bright }}',
    '#{{ light_green_bright }}',
    '#{{ light_yellow_bright }}',
    '#{{ light_blue_bright }}',
    '#{{ light_magenta_bright }}',
    '#{{ light_cyan_bright }}',
    '#000000',
  },
}
{% endif %}

return config
