[Desktop Entry]
Type=Application
Name=FL Studio
Exec=/usr/bin/env WINEPREFIX=/home/colin/.wine-flstudio-20 wine start 'C:\Program Files\Image-Line\FL Studio 20\FL64.exe'
