theme = "kalgykai-{{ theme }}"

[editor]
bufferline = "multiple"
color-modes = true
cursorline = true
idle-timeout = 50
insert-final-newline = false
text-width = 100

[editor.auto-pairs]
'(' = ')'
'{' = '}'
'[' = ']'
#'<' = '>'
'«' = '»'
#'"' = '"'
'“' = '”'
#"'" = "'"
'‘' = '’'
#'`' = '`'

[editor.gutters]
layout = ["diagnostics", "line-numbers", "spacer", "diff"]

[editor.lsp]
display-inlay-hints = false
display-messages = true
snippets = false

[editor.soft-wrap]
enable = true

[editor.whitespace.render]
newline = "all"
tab = "all"

[keys.normal]
"X" = "extend_line_above"
"C-h" = "jump_view_left"
"C-j" = "jump_view_down"
"C-k" = "jump_view_up"
"C-l" = "jump_view_right"

[keys.insert]
"C-[" = "normal_mode"

[keys.normal.space]
"o" = ":reflow"
