"attribute" = "cyan"
"comment" = { fg = "subtle", modifiers = ["italic"] }
"constant" = "blue"
"constant.character" = "yellow"
"constant.character.escape" = { fg = "orange", modifiers = ["italic"] }
"function" = "green"
"function.macro" = "violet"
"function.special" = "violet"
"keyword" = { fg = "subtle", modifiers = ["bold"] }
"label" = "cyan"
"markup.bold" = { modifiers = ["bold"] }
"markup.heading" = "orange"
"markup.italic" = { modifiers = ["italic"] }
"markup.link.label" = "blue"
"operator" = "subtle"
"punctuation" = "subtle"
"string" = "yellow"
"tag" = "green"
"type" = "cyan"
"variable" = "normal"
"variable.builtin" = { fg = "subtle", modifiers = ["bold"] }
"variable.parameter" = "subtle"

"hint" = "bright-cyan"
"info" = "bright-blue"
"warning" = "bright-violet"
"error" = "bright-magenta"
"diagnostic.hint" = { underline = { color = "bright-cyan" } }
"diagnostic.info" = { underline = { color = "bright-blue" } }
"diagnostic.warning" = { underline = { color = "bright-violet", style = "curl" } }
"diagnostic.error" = { underline = { color = "bright-magenta", style = "curl" } }

"diff.plus" = "green"
"diff.minus" = "red"
"diff.delta" = "orange"

"ui.bufferline" = { fg = "subtle", bg = "veryfaint" }
"ui.bufferline.active" = { fg = "normal", bg = "bright-bg", modifiers = ["bold"] }
"ui.cursor" = { bg = "subtle" }
"ui.cursor.match" = { fg = "bright-orange" }
"ui.cursor.primary" = { fg = "bg", bg = "normal" }
"ui.cursor.primary.insert" = { fg = "bg", bg = "bright-green" }
"ui.cursor.primary.select" = { fg = "bg", bg = "bright-cyan" }
"ui.cursorline.primary" = { bg = "bright-bg" }
"ui.linenr" = "faint"
"ui.linenr.selected" = { fg = "faint", modifiers = ["bold"] }
"ui.selection" = { bg = "hl-grey" }
"ui.selection.primary" = { fg = "bg", bg = "subtle" }
"ui.statusline" = { fg = "normal", bg = "faint", modifiers = ["bold"] }
"ui.statusline.inactive" = { fg = "subtle", bg = "bright-bg" }
"ui.statusline.normal" = { fg = "bg", bg = "normal", modifiers = ["bold"] }
"ui.statusline.insert" = { fg = "bg", bg = "bright-green", modifiers = ["bold"] }
"ui.statusline.select" = { fg = "bg", bg = "bright-cyan", modifiers = ["bold"] }
"ui.text" = "normal"
"ui.virtual" = { fg = "veryfaint" }
"ui.virtual.inlay-hint" = { fg = "faint", modifiers = ["italic"] }
"ui.virtual.ruler" = { bg = "bright-bg" }
"ui.window" = { fg = "faint" }  # border between windows

# Command line
"ui.help" = { fg = "bright-blue", bg = "bright-bg" }
"ui.menu" = { fg = "blue", bg = "bright-bg" }
"ui.menu.selected" = { fg = "bg", bg = "blue" }
"ui.text.inactive" = { fg = "subtle" }

# File picker
"ui.background" = { fg = "subtle", bg = "bg" }
"ui.text.focus" = { fg = "bg", bg = "green", modifiers = ["bold"] }
"special" = { underline = { style = "line" } }  # matching characters in file picker
"ui.highlight" = { bg = "hl-grey" }  # highlight on lines containing reference

# Keybinding help popup
"ui.popup" = { fg = "bright-blue", bg = "bright-bg" }
"ui.text.info" = { fg = "bright-blue" }

"note" = { fg = "bright-orange" }
"todo" = { fg = "bright-red" }

[palette]
bg = "#{{ light_bg }}"
bright-bg = "#{{ light_brightbg }}"
shadow = "#{{ light_shadow }}"
veryfaint = "#{{ light_veryfaint }}"
faint = "#{{ light_faint }}"
subtle = "#{{ light_subtle }}"
normal = "#{{ light_normal }}"
red = "#{{ light_red }}"
orange = "#{{ light_orange }}"
yellow = "#{{ light_yellow }}"
green = "#{{ light_green }}"
cyan = "#{{ light_cyan }}"
blue = "#{{ light_blue }}"
violet = "#{{ light_violet }}"
magenta = "#{{ light_magenta }}"
bright-red = "#{{ light_red_bright }}"
bright-orange = "#{{ light_orange_bright }}"
bright-yellow = "#{{ light_yellow_bright }}"
bright-green = "#{{ light_green_bright }}"
bright-cyan = "#{{ light_cyan_bright }}"
bright-blue = "#{{ light_blue_bright }}"
bright-violet = "#{{ light_violet_bright }}"
bright-magenta = "#{{ light_magenta_bright }}"
hl-grey = "#{{ light_faint }}"
