"attribute" = "cyan"
"comment" = { fg = "dim-white", modifiers = ["italic"] }
"constant" = "blue"
"constant.character" = "yellow"
"constant.character.escape" = { fg = "orange", modifiers = ["italic"] }
"function" = "green"
"function.macro" = "violet"
"function.special" = "violet"
"keyword" = { fg = "dim-white", modifiers = ["bold"] }
"label" = "cyan"
"markup.bold" = { modifiers = ["bold"] }
"markup.heading" = "orange"
"markup.italic" = { modifiers = ["italic"] }
"markup.link.label" = "blue"
"operator" = "dim-white"
"punctuation" = "dim-white"
"string" = "yellow"
"tag" = "green"
"type" = "cyan"
"variable" = "white"
"variable.builtin" = { modifiers = ["bold"] }
"variable.parameter" = "dim-white"

"hint" = { fg = "dim-blue", modifiers = ["italic"] }
"info" = { fg = "dim-violet", modifiers = ["italic"] }
"warning" = { fg = "dim-magenta", modifiers = ["italic"] }
"error" = { fg = "dim-red", modifiers = ["italic"] }
"diagnostic.hint" = { underline = { color = "dim-blue" } }
"diagnostic.info" = { underline = { color = "dim-violet" } }
"diagnostic.warning" = { underline = { color = "dim-magenta" } }
"diagnostic.error" = { underline = { color = "dim-red" } }

"diff.plus" = "green"
"diff.minus" = "red"
"diff.delta" = "orange"

"ui.bufferline" = { fg = "dim-white", bg = "bright-bg" }
"ui.bufferline.active" = { fg = "bright-white", bg = "grey", modifiers = ["bold"]}
"ui.cursor" = { fg = "black", bg = "dim-white" }
"ui.cursor.match" = { fg = "bright-orange" }
"ui.cursor.primary" = { fg = "black", bg = "bright-white" }
"ui.cursor.primary.insert" = { fg = "black", bg = "bright-green" }
"ui.cursor.primary.select" = { fg = "black", bg = "bright-cyan" }
"ui.cursorline.primary" = { bg = "bright-bg" }
"ui.linenr" = "grey"
"ui.linenr.selected" = { fg = "grey", modifiers = ["bold"] }
"ui.selection" = { fg = "black", bg = "hl-grey" }
"ui.selection.primary" = { fg = "black", bg = "white" }
"ui.statusline" = { fg = "bright-white", bg = "grey", modifiers = ["bold"] }
"ui.statusline.inactive" = { fg = "dim-white", bg = "bright-bg" }
"ui.statusline.normal" = { fg = "black", bg = "bright-white", modifiers = ["bold"] }
"ui.statusline.insert" = { fg = "black", bg = "bright-green", modifiers = ["bold"] }
"ui.statusline.select" = { fg = "black", bg = "bright-cyan", modifiers = ["bold"] }
"ui.text" = "white"
"ui.virtual" = { fg = "dim-grey" }
"ui.virtual.inlay-hint" = { fg = "grey", modifiers = ["italic"] }
"ui.virtual.jump-label" = { fg = "bright-red", bg = "black" }
"ui.virtual.ruler" = { bg = "bright-bg" }
"ui.window" = { fg = "grey" }  # border between windows

# Command line
"ui.help" = { fg = "bright-blue", bg = "bright-bg" }
"ui.menu" = { fg = "blue", bg = "bright-bg" }
"ui.menu.selected" = { fg = "bg", bg = "blue" }
"ui.text.inactive" = { fg = "dim-white" }

# File picker
"ui.background" = { fg = "dim-white", bg = "bg" }
"ui.text.focus" = { fg = "black", bg = "green", modifiers = ["bold"] }
"special" = { underline = { style = "line" } }  # matching characters in file picker
"ui.highlight" = { bg = "hl-grey" }  # highlight on lines containing reference

# Keybinding help popup
"ui.popup" = { fg = "bright-blue", bg = "bright-bg" }
"ui.text.info" = { fg = "bright-blue" }

"note" = { fg = "bright-orange" }
"todo" = { fg = "bright-red" }

[palette]
black = "#000000"
bg = "#{{ dark_bg }}"
bright-bg = "#{{ dark_brightbg }}"
dim-grey = "#{{ dark_veryfaint }}"
grey = "#{{ dark_faint }}"
dim-white = "#{{ dark_subtle }}"
white = "#{{ dark_normal }}"
red = "#{{ dark_red }}"
orange = "#{{ dark_orange }}"
yellow = "#{{ dark_yellow }}"
green = "#{{ dark_green }}"
cyan = "#{{ dark_cyan }}"
blue = "#{{ dark_blue }}"
violet = "#{{ dark_violet }}"
magenta = "#{{ dark_magenta }}"
bright-white = "#{{ dark_bright }}"
bright-red = "#{{ dark_red_bright }}"
bright-orange = "#{{ dark_orange_bright }}"
bright-yellow = "#{{ dark_yellow_bright }}"
bright-green = "#{{ dark_green_bright }}"
bright-cyan = "#{{ dark_cyan_bright }}"
bright-blue = "#{{ dark_blue_bright }}"
bright-violet = "#{{ dark_violet_bright }}"
bright-magenta = "#{{ dark_magenta_bright }}"
dim-red = "#{{ dark_red_dim }}"
dim-orange = "#{{ dark_orange_dim }}"
dim-yellow = "#{{ dark_yellow_dim }}"
dim-green = "#{{ dark_green_dim }}"
dim-cyan = "#{{ dark_cyan_dim }}"
dim-blue = "#{{ dark_blue_dim }}"
dim-violet = "#{{ dark_violet_dim }}"
dim-magenta = "#{{ dark_magenta_dim }}"
bg-red = "#{{ dark_red_bg }}"
bg-orange = "#{{ dark_orange_bg }}"
bg-yellow = "#{{ dark_yellow_bg }}"
bg-cyan = "#{{ dark_cyan_bg }}"
bg-blue = "#{{ dark_blue_bg }}"
hl-grey = "#{{ dark_faint }}"
hl-yellow = "#{{ dark_yellow_hl }}"
hl-cyan = "#{{ dark_cyan_hl }}"
