[Unit]
BindsTo=graphical-session.target
After=graphical-session.target

[Service]
ExecStart=/usr/bin/gammastep

[Install]
WantedBy=graphical-session.target
