[Unit]
PartOf=graphical-session.target
After=graphical-session.target

[Service]
ExecStart=/usr/bin/gammastep
Restart=on-failure
Slice=session.slice
MemoryMax=1G
