[Unit]
BindsTo=compositor.service
PartOf=compositor.service
After=compositor.service

[Service]
ExecStart=/usr/bin/nm-applet --indicator
Restart=on-failure
Slice=session.slice
MemoryMax=1G

[Install]
WantedBy=graphical-session.target
