[Unit]
PartOf=graphical-session.target

[Service]
ExecStart=/usr/bin/nm-applet --indicator
Restart=on-failure

[Install]
WantedBy=graphical-session.target
