[Unit]
AssertPathIsDirectory=%t/nvim

[Service]
Type=exec
ExecStart=%h/bin/nvim-neovide-socat %I
ExecStartPost=sleep 0.1
Slice=app.slice
SuccessExitStatus=143
