[Service]
Type=notify
ExecStart=%h/.local/bin/nvim --headless --listen ${XDG_RUNTIME_DIR}/nvim/%I.sock -c 'silent !systemd-notify --ready'
NotifyAccess=all
Slice=app.slice
SuccessExitStatus=1
