[Unit]
Wants=pipewire.service
After=pipewire.service

[Service]
Environment=PIPEWIRE_DEBUG=2
ExecStart=/usr/bin/pipewire -c %h/dotfiles/pipewire/filters/%i.conf
Slice=session.slice

[Install]
WantedBy=pipewire.service
