[Unit]
BindsTo=compositor.service
After=compositor.service

[Service]
ExecStart=/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1
Restart=on-failure
