[Unit]
BindsTo=graphical-session.target
After=graphical-session.target

[Service]
ExecStart=swaybg --output * --image %h/.cache/wallpaper.jpg --mode fill
Restart=on-failure
