[Unit]
Wants=graphical-session-pre.target
After=graphical-session-pre.target
PartOf=graphical-session.target
Before=graphical-session.target
Wants=mako.service
Wants=polkit-gnome.service
Wants=swaybg.service
Wants=update-wallpaper.timer
Wants=waybar.service

[Service]
Type=notify
Environment=WLR_BACKENDS=headless WLR_LIBINPUT_NO_DEVICES=1
ExecStartPre=systemctl --user set-environment XDG_CURRENT_DESKTOP=sway XDG_SESSION_TYPE=wayland
ExecStart=sway
ExecStopPost=systemctl --user unset-environment DISPLAY I3SOCK SWAYSOCK WAYLAND_DISPLAY XCURSOR_SIZE XCURSOR_THEME
OOMPolicy=continue
NotifyAccess=all
Slice=session.slice
