[Unit]
After=graphical-session-pre.target
BindsTo=graphical-session.target
Before=graphical-session.target

[Service]
Type=notify
Environment=WLR_BACKENDS=headless
Environment=WLR_LIBINPUT_NO_DEVICES=1
ExecStartPre=systemctl --user set-environment XDG_CURRENT_DESKTOP=sway XDG_SESSION_TYPE=wayland
ExecStart=sway
ExecStopPost=systemctl --user unset-environment DISPLAY I3SOCK SWAYSOCK WAYLAND_DISPLAY XCURSOR_SIZE XCURSOR_THEME
OOMPolicy=continue
NotifyAccess=all
Slice=session.slice
