[Unit]
Wants=graphical-session-pre.target
After=graphical-session-pre.target
BindsTo=graphical-session.target
Before=graphical-session.target
Wants=gammastep.service
Wants=mako.service
Wants=polkit-gnome.service
Wants=swaybg.service
Wants=swayidle.service
Wants=update-wallpaper.timer
Wants=waybar.service

[Service]
Type=notify
Environment=WLR_DRM_NO_MODIFIERS=1
ExecStart=sway
ExecStopPost=systemctl --user unset-environment DISPLAY I3SOCK SWAYSOCK WAYLAND_DISPLAY XCURSOR_SIZE XCURSOR_THEME
OOMPolicy=continue
NotifyAccess=all
Slice=session.slice
