[Unit]
BindsTo=compositor.service
After=compositor.service

[Service]
ExecStart=/usr/bin/swayidle -w timeout 900 'swaymsg "output * dpms off"' resume 'swaymsg "output * dpms on"' timeout 910 'swaylock -f' before-sleep 'swaylock -f'
Restart=on-failure
