[Unit]
BindsTo=compositor.service
After=compositor.service

[Service]
ExecStart=swaybg --output * --image %h/.cache/wallpaper.jpg --mode fill
Restart=on-failure
