[Unit]
BindsTo=graphical-session.target
After=graphical-session.target

[Service]
Environment=SWWW_TRANSITION_STEP=90
Environment=SWWW_TRANSITION_TYPE=simple
ExecStart=swww init --no-daemon
ExecStartPost=swww img %h/.cache/wallpaper.jpg
Restart=on-failure
Slice=session.slice
