[Unit]
BindsTo=graphical-session.target
After=graphical-session.target

[Service]
ExecStart=swww-daemon
ExecStartPost=swww restore
Restart=always
Slice=session.slice
