[Unit]
BindsTo=graphical-session.target
After=graphical-session.target

[Timer]
AccuracySec=1m
OnBootSec=30m
OnUnitActiveSec=30m

[Install]
WantedBy=graphical-session.target
